<header class="sticky top-0 z-50 flex items-center justify-between border-b border-slate-200 dark:border-slate-800 bg-white dark:bg-[#15202b] px-6 py-3 shadow-sm">
    <div class="flex items-center gap-3">
        <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-primary/10 text-primary">
            <span class="material-symbols-outlined text-[24px]">translate</span>
        </div>
        <h1 class="text-xl font-bold tracking-tight text-slate-900 dark:text-white">Yoreme Translate</h1>
    </div>

    @if(currentUrl() === '/login') {
        <div class="flex items-center gap-4">
            <a class="text-[#0d141b] dark:text-slate-300 text-sm font-medium leading-normal hover:text-primary transition-colors flex items-center gap-2" routerLink="/">
                <span class="material-symbols-outlined text-lg">arrow_back</span>
                <span class="hidden sm:inline">Volver al Sitio</span>
            </a>
        </div>
    }@else
    {
        @if(authService.isLoggedIn()){
            <div class="flex gap-4">
                <button routerLink="/admin" class="flex items-center justify-center rounded-lg bg-primary px-5 py-2 text-sm font-semibold text-white transition hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 dark:focus:ring-offset-[#15202b]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                    </svg>
                    <span  routerLink="/login">Administrar</span>
                </button>    
    
                <button (click)="logout()" title="Cerrar Sesión" class="flex items-center justify-center rounded-lg bg-danger px-2 py-2 text-sm font-semibold text-white transition hover:bg-red-600 focus:outline-none focus:ring-2 focus:via-red-700 focus:ring-offset-2 dark:focus:ring-offset-[#15202b]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                    </svg>
                </button>    
            </div>            
        }@else{
            <button routerLink="/login" class="flex items-center justify-center rounded-lg bg-primary px-5 py-2 text-sm font-semibold text-white transition hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 dark:focus:ring-offset-[#15202b]">
                <span class="material-symbols-outlined mr-2 text-[18px]">account_circle</span>
                <span  routerLink="/login">Iniciar Sesión</span>
            </button>    
        }


    }
</header>